<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        td {
            border:1px solid black;
        }
    </style>
</head>

<body>
    <h1>hello</h1>
    <table>
        <tr>
            <% for(let r=1;r<=10 ;r++) { %>
                <td>
                    <%- r %>
                </td>
                <% } %>
        </tr>
    </table>
</body>

</html>